# Question 1

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.decomposition import PCA

In [51]:
# Importing data from cc
dataset = pd.read_csv('CC.csv')
#filling null values with mean
dataset= dataset.fillna(dataset.mean())
#taking all relavent data
dataset = dataset.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]]
dataset.head()

C:\Users\mohan\AppData\Local\Temp\ipykernel_17140\1986215427.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset= dataset.fillna(dataset.mean())

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,864.206542,0.000000
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000

In [52]:
pca = PCA(2)
#applying PCA to dataset
x_pca = pca.fit_transform(dataset)
df2 = pd.DataFrame(data=x_pca)
print(df2)

                0            1
0    -4326.383979   921.566882
1     4118.916665 -2432.846346
2     1497.907641 -1997.578694
3     1394.548536 -1488.743453
4    -3743.351896   757.342657
...           ...          ...
8945 -4208.357725  1122.443291
8946 -4123.923788   951.683820
8947 -4379.443989   911.504583
8948 -4791.117531  1032.540961
8949 -3623.702535  1555.134786

[8950 rows x 2 columns]

In [53]:
from sklearn.cluster import KMeans
nclusters = 3 # this is the k in kmeans
km = KMeans(n_clusters=nclusters)
#applying dataframe data to kmean algorithm
km.fit(df2)

y_cluster_kmeans = km.predict(df2)
from sklearn import metrics
#calculating silhouette_score
score = metrics.silhouette_score(df2, y_cluster_kmeans)
print(score)

0.572039305486631

In [17]:
from sklearn.preprocessing import StandardScaler
#scalling data
scaler = StandardScaler()
X_Scale = scaler.fit_transform(dataset)
pca = PCA(2)
#passing dataframe to pca
x_pca = pca.fit_transform(X_Scale)

nclusters = 3 # this is the k in kmeans
km = KMeans(n_clusters=nclusters)
#applying x data to kmean algorithm
km.fit(x_pca)

y_cluster_kmeans = km.predict(x_pca)
from sklearn import metrics
#calculating silhouette_score
score = metrics.silhouette_score(x_pca, y_cluster_kmeans)
print(score)

0.45296796767301134

# Question

In [26]:
#importing data
df = pd.read_csv('pd_speech_features.csv')
df.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [27]:
from sklearn import preprocessing
#preprocessing data
scaler = preprocessing.StandardScaler()
scaler.fit(df)
df.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [31]:
#droping class column from data frame and taking this data as x frame
x=df.drop("class",axis=1).values
#taking y data from class column
y=df['class'].values
pca2 = PCA(n_components=3)
#Applying PCA to data
principalComponents = pca2.fit_transform(x)
#analysing pricipal components
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2', 'principal component 3'])
#concatnating class column to dataframe
finalDf = pd.concat([principalDf, df[['class']]], axis = 1)
finalDf.head()

   principal component 1  principal component 2  principal component 3  class
0          -5.815816e+09           4.701391e+06          -6.210264e+05      1
1          -6.029399e+09           4.610122e+06          -4.198081e+05      1
2          -6.159184e+09           5.578720e+06          -4.115108e+05      1
3          -7.197145e+09           5.943199e+07           1.355807e+06      1
4          -6.423357e+09           8.714129e+07           1.791626e+07      1

In [36]:
#droping of class column from dataframe from finaldf
X = finalDf.drop('class',axis=1).values
#taking class to y coridate
y = finalDf['class'].values
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=0)

In [37]:
# import SVC classifier
from sklearn.svm import SVC
# import metrics to compute accuracy
from sklearn.metrics import accuracy_score
# instantiate classifier with default hyperparameters
svc=SVC() 
# fit classifier to training set
svc.fit(X_train,y_train)
# make predictions on test set
y_pred=svc.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)*100
print("accuracy of SVM:",accuracy)

accuracy of SVM: 76.31578947368422

# Question 3

In [87]:
#importing data
dataset = pd.read_csv('Iris.csv')
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [88]:
#splitting data to x and y frames
x = dataset.iloc[:,[1,2,3,4]]
y = dataset.iloc[:,-1]

In [89]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# taking 2 dimensions 
ld = LinearDiscriminantAnalysis(n_components=2) 
#passing x and y data
principalComponents = ld.fit_transform(x,y)
#creating new df with columns as required
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2'])

In [91]:
 #merging species back to data set
finaliris = pd.concat([principalDf, dataset.iloc[:,-1]], axis = 1)
finaliris.head()

   principal component 1  principal component 2      Species
0               8.084953               0.328454  Iris-setosa
1               7.147163              -0.755473  Iris-setosa
2               7.511378              -0.238078  Iris-setosa
3               6.837676              -0.642885  Iris-setosa
4               8.157814               0.540639  Iris-setosa